<html>
    <head>
        <title>Rock Paper Scissors</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <div class="col-md-12">
                <h1>Player One</h1>
                <form action="player2" method="post">
                    <button class="btn btn-danger"type="submit" name="rock">Rock</button>
                </form>
                <form action="player2" method="post">
                    <button class="btn btn-primary" type="submit" name="paper">Paper</button>
                </form>
                <form action="player2" method="post">
                    <button class="btn btn-warning" type="type" name="scissors">Scissors</button>
                </form>
            </div>
        </div>

    </body>
</html>
